name: Release Charts

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Run chart-releaser
        id: run_chart_releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    outputs:
      release_name: ${{ steps.run_chart_releaser.outputs.release_name }}

  update-registry:
    steps:
      - name: Create GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: 2336325
          private-key: ${{ secrets.UPDATE_REGISTRY_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Trigger update-registry workflow
        uses: benc-uk/workflow-dispatch-action@v1
        with:
          repo: "ammarlakis/helm-charts"
          workflow: "update-registry"
          ref: "master"
          inputs:
            repository: "ammarlakis/zigbee2mqtt"
            release_name: "${{ steps.release.outputs.release_name }}"
          token: ${{ steps.app-token.outputs.token }}
